<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"> <!-- Adjust the path if needed -->
</head>
<style>
   

/* Add additional styling as needed */

</style>
<body>
    <div class="col-3 mt-4 text-center justify-content-center align-items-center">
        <form action="/weather" method="post">
            <div class="input-group">
                <span class="input-group-text">City</span>
                <input type="text" name="weather" class="form-control" id="">
                <button class="btn btn-success form-control" type="submit">Get Weather</button>
            </div>
        </form>
    </div>
   
    <script>
        const agraTimeZone = 'Asia/Kolkata';
        const time = function () {
            let t = new Date();
            let hour = t.getHours();
            document.getElementById('t').innerHTML = 'Time= ' + hour + '-' + t.getMinutes() + ' -' + t.getSeconds();
        }
        time()

        setInterval(time, 1000)
    </script>
</body>
</html>
